### Python template
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
build/
dist/
sdist/
*.egg-info/
*.egg
MANIFEST

# Unit test / coverage reports
htmlcov/
.coverage
.coverage.*
*.cover
.pytest_cache/

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
docker/

# working files
/aiida

# node modules
node_modules

# Current version's temporary CHANGELOG
.CHANGELOG-CURRENT.md

# configuration file with secrets
yascheduler.conf

# dev environment runtime data (keys, tasks, engines cache)
/.run/

#vscode
.vscode/

.ruff_cache
.import_linter_cache
